<h1>새로운 Post를 입력</h1>

<br>

<form action="/post/create" method="post">
    제목 : <input type="text" name="title"/><br>
    작성자 : <input type="text" name="author"/><br>
    내용: <textarea name="content"></textarea><br>
    <button type="submit">제출하기</button>
</form>
